body {
	background-attachment: fixed;
    background-color: #6d8d31;
	background-image: url('img/background_image.jpg');
	background-size: cover;
	font-family: Arial, sans-serif;
    margin: 0;
}
#background {
	height: 110vh;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.content-block, .header-logo, .header-nav {
    border-radius: 8px;
    -moz-box-shadow: 6px 6px 30px 0px rgba(50, 50, 50, 0.9);
    -webkit-box-shadow: 6px 6px 30px 0px rgba(50, 50, 50, 0.9);
    box-shadow: 10px 10px 60px 0px rgba(30, 30, 30, 1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.content-block, .header-logo {
	margin-bottom: 15px;
}
.content-block, .header-nav {
    background-color: white;
}

.header {
	padding: 15px 15px 0 15px;
}
.header-logo {
	height: 90px;
    margin-bottom: 15px;
}
.header-nav {
    height: 50px;
	overflow: hidden;
	z-index: 1;
}
.header-nav-link {
    color: black;
	height: 100%;
    padding: 15px;
    text-decoration: none;
    transition: background-color 0.6s;
}
.header-nav-link_left {
    float: left;
}
.header-nav-link_right {
    float: right;
}

.content {
    clear: both;
    overflow: hidden;
	padding: 15px;
}
.content-block {
	overflow: hidden;
    padding: 7.5px;
    width: 100%;
}
.content-block-heading {
    background-color: #d6d6d6;
    color: #191919;
    margin: -10px;
    padding: 10px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
}
.content-block-heading_link {
    color: black;
    text-decoration: none;
}
.content-block-heading_link .content-block-heading:after {
    color: #535353;
    content: "More...";
    font-size: 0.8rem;
    padding-left: 10px;
    text-shadow: none;
}
.content-block-item {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
	float: left;
	min-height: 200px;
    padding: 7.5px;
    width: 100%;
}
.content-block-item-heading {
    font-size: 1.2rem;
}
.content-block-item-heading_link {
	color: black;
	font-weight: bold;
    text-decoration: none;
}
.content-block-item-image {
    width: 100%;
}
.content-block-item-text_link {
	color: black;
	font-weight: bold;
    text-decoration: none;
}
.content-block-item-text_short {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.footer {
    background-color: #656565;
    -moz-box-shadow: inset 0px 8px 30px 0px rgba(50, 50, 50, 0.9);
    -webkit-box-shadow: inset 0px 8px 30px 0px rgba(50, 50, 50, 0.9);
    box-shadow: inset 0px 8px 30px 0px rgba(50, 50, 50, 0.9);
    clear: both;
    padding: 15px;
    text-align: center;
}

.header-nav-link:hover {
    background-color: #d6d6d6;
}

@media screen and (max-width: 675px) {
    .content-block-item:nth-child(n+3) {
        border-top: solid 1px gray;
    }
	.content_short .content-block-item:nth-child(n+3) {
		display: none;
	}
}
@media screen and (min-width: 675px) and (max-width: 1380px) {
    .content-block-item {
		width: 50%;
	}
	
    .content-block-item:nth-child(n+4) {
        border-top: solid 1px gray;
    }
	.content_short .content-block-item:nth-child(n+4) {
		display: none;
	}
}
@media screen and (min-width: 1020px) {
    aside.content-aside {
        float: right;
        margin-right: 0;
        width: 330px;
    }
    /*.content-block {
        float: left;
        margin-right: -400px;
    }*/
}
@media screen and (min-width: 1065px) {
    .content-block, .header-logo {
        margin-bottom: 30px;
    }
    
	.header {
        padding: 30px 30px 0 30px;
    }
    .content {
        padding: 30px;
    }
}
@media screen and (min-width: 1380px) and (max-width: 1695px) {
	.content-block-item {
		width: 33.3333%;
	}

    .content-block-item:nth-child(n+5) {
        border-top: solid 1px gray;
    }
	.content_short .content-block-item:nth-child(n+5) {
		display: none;
	}
}
@media screen and (min-width: 1695px) {
	.content-block-item {
		width: 25%;
	}

    .content-block-item:nth-child(n+6) {
        border-top: solid 1px gray;
    }
	.content_short .content-block-item:nth-child(n+6) {
		display: none;
	}
}
